{% extends "base_dashboard.html" %}
{% load i18n %}

{% block content %}
  <div class="dashboard-index">
    {% for datum in data %}
      {% ifchanged datum.metric.category %}
        {% if datum.metric.category %}<h2>{{ datum.metric.category }}</h2>{% endif %}
      {% endifchanged %}
      <div class="metric{% if datum.metric.show_sparkline %} has-sparkline{% endif %}">
        <h3><a href="{{ datum.metric.link }}">{{ datum.metric.name }}</a></h3>
        <div class="value" >
          <a href="{{ datum.metric.get_absolute_url }}">{{ datum.measurement }}{% if datum.metric.unit == "%" %}%{% endif %}</a>
          <div class="timestamp">&nbsp;</div>
        </div>
        {% if datum.metric.show_sparkline %}
          <div class="sparkline" id="spark{{ forloop.counter0 }}" data-path="{% url "metric-list" host "dashboard" %}" data-metric="{{ datum.metric.slug }}"></div>
        {% endif %}
      </div>
    {% endfor %}
    {% if last_updated %}
      <p class="updated">
        {% blocktranslate with timestamp=last_updated|timesince %}Updated {{ timestamp }} ago.{% endblocktranslate %}
      </p>
    {% endif %}
  </div>
{% endblock %}
